* {
  margin: 0;
  padding: 0;
}

.page {
  background-color: lightgrey;
}

.content {
  background-color: aliceblue;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 0;
  width: 800px;
  margin: 40px auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 24px;
}

.url {
  font-weight: normal;
  position: relative;
  width: fit-content;
  margin: 20px auto 0px auto;
}

#protocol, #host, #path, #filename, #search, #hash {
  font-size: 20px;
}

#protocol {
  color: red;
  font-weight: bold;
}

/* #protocol::after {
  content: 'protocol';
  position: absolute;
  font-weight: lighter;
  font-style: italic;
  top: 40px;
  left: 20px;
} */

#filename {
  color: blue;
}

/* #filename::after {
  content: 'filename';
  position: absolute;
  font-weight: lighter;
  font-style: italic;
  top: 40px;
  right: -20px;
} */
